<div class="company">
  <app-title [sectionTitle]="sectionName"></app-title>
  <div class="company-content">
    <div class="company-image" data-aos="zoom-in" data-aos-delay="500">
      <img src="../../assets/companyPhoto1.jpg" alt="">
    </div>
    <div class="company-description" data-aos="zoom-in">
      <h3>"Firma Phinance"</h3>
      <p>
        Doradctwo finansowe to nasza specjalność! Jesteśmy jedną z największych i najprężniej działających firm pośrednictwa finansowego w Polsce.
        Nasza misja to zapewnienie poczucia bezpieczeństwa i spokoju naszym klientom. Jej wypełnianie świetnie nam idzie: mamy najszerszą ofertę produktową
        i od ponad 20 lat jesteśmy obecni na rynku. Zapewniamy sprawdzone rozwiązania finansowe na podstawie kompleksowych usług związanych z inwestowaniem,
        oszczędnościami, ubezpieczeniami, kredytami, a także nieruchomościami czy leasingami.
      </p> 
    </div>
  </div>
  <div class="company-numbers">
    <div class="company-number" data-aos="zoom-in">
      <h2>650 tys</h2>
      <p>klientów</p>
    </div>
    <div class="company-number" data-aos="zoom-in" data-aos-delay="200">
      <h2>1200</h2>
      <p>wykwalifikowanych specjalistów</p>
    </div>
    <div class="company-number" data-aos="zoom-in" data-aos-delay="400">
      <h2>49</h2>
      <p>biur w całej Polsce</p>
    </div>
    <div class="company-number" data-aos="zoom-in" data-aos-delay="600">
      <h2>900</h2>
      <p>polecanych produktów finansowych w ofercie</p>
    </div>
    <div class="company-number" data-aos="zoom-in" data-aos-delay="800">
      <h2>100</h2>
      <p>instytucji finansowych</p>
    </div>
  </div>
</div>
