<div class="values">
  <div class="value" data-aos="zoom-in">
    <fa-icon class="icon" [icon]="faUserTie"></fa-icon>
    <h3>Profesjonalizm</h3>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
       recusandae blanditiis exercitationem</p>
  </div>
  <div class="value" data-aos="zoom-in">
    <fa-icon class="icon" [icon]="faHandshake"></fa-icon>
    <h3>Zaufanie</h3>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
       recusandae blanditiis exercitationem</p>
  </div>
  <div class="value" data-aos="zoom-in">
    <fa-icon class="icon" [icon]="faBalanceScale"></fa-icon>
    <h3>Niezależność</h3>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
       recusandae blanditiis exercitationem</p>
  </div>
  <div class="value" data-aos="zoom-in">
    <fa-icon class="icon" [icon]="faShieldAlt"></fa-icon>
    <h3>Bezpieczeństwo</h3>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
       recusandae blanditiis exercitationem</p>
  </div>
  <div class="value" data-aos="zoom-in">
    <fa-icon class="icon" [icon]="faSmile"></fa-icon>
    <h3>Radość</h3>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
       recusandae blanditiis exercitationem</p>
  </div>
  <div class="value" data-aos="zoom-in">
    <fa-icon class="icon" [icon]="faHandsHelping"></fa-icon>
    <h3>Współpraca</h3>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
       recusandae blanditiis exercitationem</p>
  </div>
</div>