<div class="values">
  <div class="value" data-aos="zoom-in">
    <fa-icon class="icon" [icon]="faHandshake"></fa-icon>
    <h3>Zaufanie</h3>
    <p>Działam na bazie transparentności,
      uczciwości i wysokiej jakości usług.</p>
  </div>
  <div class="value" data-aos="zoom-in">
    <fa-icon class="icon" [icon]="faBalanceScale"></fa-icon>
    <h3>Niezależność</h3>
    <p>Współpracuje z wszystkimi instytucjami finansowymi w Polsce.</p>
  </div>
  <div class="value" data-aos="zoom-in">
    <fa-icon class="icon" [icon]="faShieldAlt"></fa-icon>
    <h3>Bezpieczeństwo</h3>
    <p>Jestem licencjowanym doradcą finansowym pod nadzorem KNF.</p>
  </div>
  <div class="value" data-aos="zoom-in">
    <fa-icon class="icon" [icon]="faSmile"></fa-icon>
    <h3>Radość</h3>
    <p>Świadczę usługi z entuzjazmem, czerpiąc radość
      z pomagania i rozwiązywania problemów.</p>
  </div>
  <div class="value" data-aos="zoom-in">
    <fa-icon class="icon" [icon]="faUserTie"></fa-icon>
    <h3>Profesjonalizm</h3>
    <p>Znając język finansowy, sprawdzam za klienta ogólne warunki umowy.</p>
  </div>
  <div class="value" data-aos="zoom-in">
    <fa-icon class="icon" [icon]="faHandsHelping"></fa-icon>
    <h3>Współpraca</h3>
    <p>Wraz z moim Teamem oferuje spotkania osobiste
       i zdalne na terenie całej Polski.</p>
  </div>
</div>