<div class="about">
  <app-title [sectionTitle]="sectionName"></app-title>
  <div class="content" data-aos="zoom-in">
    <div class="description">
      <p>Jeżeli chodzi o etapy mojej pracy to na początku oferuje bezpłatną konsultacje, gdzie naturalnie ze sobą rozmawiamy,
        a ja dowiaduję się czym klient jest zainteresowany lub jakie są jego potrzeby.
        Analizujemy aktualne rozwiązania i decydujemy czy je zostawiamy czy możemy to zrobić lepiej.
        Ze względu na to, że mam cały wachlarz usług finansowych często jest tak, że zarówno z klientami indywidualnymi
        jak i z klientami firmowymi spotykam się kilka razy w miesiącu. Oczywiście cały czas oferuję profesjonalną obsługę,
        czyli jeżeli klienci mają jakieś wątpliwości lub pytania to dzwonią do mnie w wolnym czasie.
        Za moją prace i dalsze doradztwo, w dalszym ciągu klient nic nie płaci.
      </p>
    </div>
    <div class="image" data-aos="zoom-in">
      <img src="../../assets/AboutFoto2.jpeg">
    </div>
  </div>
</div>
