<div class="contact">
  <app-title [sectionTitle]="sectionName"></app-title>
  <h3>Wybierz rodzaj <span>kontaktu</span> :</h3>
  <div class="contact-types">
    <a href="https://www.instagram.com/" target="_blank">
      <fa-icon class ="icon" [icon]="faInstagram"></fa-icon>
      Instagram
    </a>
    <a href="https://www.linkedin.com/" target="_blank">
      <fa-icon class ="icon" [icon]="faLinkedin"></fa-icon>
      LinkedIn
    </a>
    <a href="https://www.facebook.com/" target="_blank">
      <fa-icon class ="icon" [icon]="faFacebook"></fa-icon>
      Facebook
    </a>
    <a href="mailto:your.email@example.com">
      <fa-icon class ="icon" [icon]="faEnvelope"></fa-icon>
      Email
    </a>
  </div>
  <a class="homelink">zamorskifinanse.pl</a>
</div>