<div class="hero" data-aos="zoom-in">
  <h1>Doradca Finansowy</h1>
  <h2>JAKUB ZAMORSKI</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, dolores.
      Ipsum eveniet nostrum minus aliquid excepturi itaque numquam 
      repudiandae distinctio corporis quaerat amet quod, in corrupti tenetur, commodi est.
      Ipsum eveniet nostrum minus aliquid excepturi itaque numquam 
      repudiandae distinctio corporis quaerat amet quod, in corrupti tenetur, commodi est.
  </p>
  <a href="#contact">KONTAKT</a>
</div>