<div class="hero" data-aos="zoom-in">
  <h1>Doradca Finansowy</h1>
  <h2>JAKUB ZAMORSKI</h2>
  <p>Jako niezależny doradca finansowy mam dostęp do całego rynku w Polsce. Współpracuje z największymi instytucjami finansowymi w kraju,
     ale pracuje głownie dla Ciebie, więc jeżeli Pan/Pani czegoś potrzebuje to szukam najkorzystniejszych i najtańszych rozwiązań,
     a przede wszystkim rozwiązań dobranych do potrzeb klienta.
  </p>
  <a class="contact-lg" href="#contact">UMÓW SIĘ NA BEZPŁATNĄ KONSULTACJĘ</a>
  <a class="contact-sm" href="#contact">KONTAKT</a>
</div>