<div class="expanded-nav" [@expandCollapse]="stateName">
  <ul>
    <li><a (click)="clickedLink()" routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }"><fa-icon class ="icon" [icon]="faHome"></fa-icon>STRONA GŁÓWNA</a></li>
    <li><a (click)="clickedLink()" routerLink="/oferty" routerLinkActive="active-link"><fa-icon class ="icon" [icon]="faBriefcase"></fa-icon>OFERTY</a></li>
    <li><a (click)="clickedLink()" href="https://www.linkedin.com/in/jakub-zamorski-25a257189" target="_blank"><fa-icon class ="icon" [icon]="faLinkedin"></fa-icon>LINKEDIN</a></li>
    <li><a (click)="clickedLink()" href="#contact"><fa-icon class ="icon" [icon]="faEnvelope"></fa-icon>KONTAKT</a></li>
  </ul>
</div>