<div class="values">
  <div class="value" >
    <h3>Profesjonalizm</h3>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
       recusandae blanditiis exercitationem Earum, perspiciatis voluptatem?</p>
  </div>
  <div class="value" >
    <h3>Zaufanie</h3>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
       recusandae blanditiis exercitationem Earum, perspiciatis voluptatem?</p>
  </div>
  <div class="value" >
    <h3>Niezależność</h3>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
       recusandae blanditiis exercitationem Earum, perspiciatis voluptatem?</p>
  </div>
  <div class="value" >
    <h3>Bezpieczeństwo</h3>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
       recusandae blanditiis exercitationem Earum, perspiciatis voluptatem?</p>
  </div>
  <div class="value" >
    <h3>Radość</h3>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
       recusandae blanditiis exercitationem Earum, perspiciatis voluptatem?</p>
  </div>
  <div class="value" >
    <h3>Współpraca</h3>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
       recusandae blanditiis exercitationem Earum, perspiciatis voluptatem?</p>
  </div>
</div>