<div class="contact" id="contact">
  <app-title [sectionTitle]="sectionName"></app-title>
  <h3 data-aos="zoom-in">Wybierz rodzaj <span>kontaktu</span>:</h3>
  <div class="contact-types">
    <a *ngFor="let item of contactItems" 
       data-aos="zoom-in" 
       [attr.data-aos-delay]="item.aosDelay" 
       href="{{ item.link }}" 
       target="_blank">
      <fa-icon class="icon" [icon]="item.icon"></fa-icon>
      {{ item.name }}
    </a>
  </div>
  <a href="#nav" 
    data-aos="zoom-in"
    data-aos-delay="1000" 
    class="homelink">zamorskifinanse.pl
  </a>
</div>