@import '../../styles/settings.scss';

.contact {
  max-width: 1200px;
  margin: 0 auto 50px;
}
.contact-types {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  padding: 0 20px;
  @include extra-large-screens {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  a {
    color: $text-color;
    text-decoration: none;
    font-size: $content-font-size * 1.4;
    text-align: center;
    padding: 0.75rem 1.5rem;
    border: 3px solid $text-color;
    border-radius: 50px;
    cursor: pointer;
    width: 22%;
    @include extra-large-screens {
      width: 70%;
      margin: 10px auto;
    }
    @include small-screens {
      width: 90%;
    }

    .icon {
      margin-right: 5px;
    }

    &:hover {
      color: rgb(228, 190, 0);
      border: 3px solid rgb(228, 190, 0);
    }
  }
}

h3 {
  margin-left: 20px;
  font-size: 26px;
  span {
    color: rgb(228, 190, 0);
  }

  @include extra-large-screens {
    text-align: center;
    margin: 0 0 6px;
  }
}

.homelink {
  color: $text-color;
  text-decoration: none;
  display: block;
  width: max-content; 
  margin: 50px auto 0;
  font-size: $content-font-size * 1.5;
  cursor: pointer;
  position: relative;

  @include extra-large-screens {
    margin: 10px auto;
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -15%;
    left: 0;
    width: 100%;
    height: 3px; 
    background-color: $text-color;
    transform: scaleX(0); 
    transform-origin: bottom left;
    transition: transform 0.5s ease; 
  }

  &:hover::after {
    transform: scaleX(1); 
    transform-origin: bottom left;
  }
}

