<div class="navigation">
  <nav id="nav">
    <div class="logo">
      <a routerLink="/">zamorskifinanse.pl</a>
    </div>
    <fa-icon class="menu-icon" [icon]="isNavExpanded ? faTimes : faBars" (click)="toggleNav()"></fa-icon>
    <div>
      <ul>
        <li><a routerLink="/oferty" routerLinkActive="active-link">OFERTY</a></li>
        <li><a href="https://www.linkedin.com/in/jakub-zamorski-25a257189" target="_blank">LINKEDIN</a></li>
        <li><a href="#contact">KONTAKT</a></li>
      </ul>
    </div>
  </nav>
  <app-expanded-nav [isNavExpanded]="isNavExpanded" (clickedLinkEvent)="handleClickedLink()"></app-expanded-nav>
</div>