<div class="oferts" id="top" data-aos="zoom-in">
  <app-title [sectionTitle]="sectionName"></app-title>
  <div 
     *ngFor="let ofert of oferts; let i = index"
     class="ofert" 
     [ngClass]="{'active': ofert.isActive, 'first-ofert': i === 0} "
     (click)="toggleActive(ofert)">
    <div class="ofert-description" [ngStyle]="{'background-image': isMediumScreen ? 'url(' + ofert.imageSm + ')' : 'none'}">
      <h2 *ngIf="!ofert.isActive">{{ ofert.title }}</h2>
      <p *ngIf="ofert.isActive">
        {{ ofert.description }}
      </p>
      <a class="contact-link" href="#contact" *ngIf="ofert.isActive">KONTAKT</a>
    </div>
    <div class="ofert-image">
      <img [src]="ofert.image" alt="">
    </div>
  </div>
</div>