@import '../../styles/settings.scss';

.content {
 display: flex;
 justify-content: center;
}

.description {
  font-size: $content-font-size * 1.1;
  width: 50%;
  margin: 10px 50px 0 0;
}

.image {
  margin-left: 50px;
  img {
    width: 333px; 
    height: 500px;
  }
}