<div class="company">
  <app-title [sectionTitle]="sectionName"></app-title>
  <div class="company-content">
    <div class="company-image" data-aos="zoom-in" data-aos-delay="500">
      <img src="../../assets/companyPhoto1.jpg" alt="">
    </div>
    <div class="company-description" data-aos="zoom-in">
      <h3>Jakub Zamorski - pracownik firmy "phinance"</h3>
      <p>
         Lorem ipsum dolor sit amet consectetur adipisicing elit.
         In odit iure vitae doloribus harum excepturi molestias quo, 
         quod aliquid? Nemo ut non eligendi, animi quibusdam voluptate eius 
         dolorum aliquam, impedit eum hic sequi inventore quis iure!
         Consequatur architecto incidunt inventore. Dicta minus sunt 
         quos voluptatum deleniti amet aliquid doloremque nobis ab,
         alias, a cupiditate libero illo minima veritatis quis animi 
         atque, corrupti earum nulla quas fugiat vel. Reprehenderit 
         consequatur dolorem neque atque, debitis quidem aperiam, eum dolores 
         perspiciatis repellat dolorum?
      </p>
    </div>
  </div>
  <div class="company-numbers">
    <div class="company-number" data-aos="zoom-in">
      <h2>50</h2>
      <p>Zadowolonych klinetów z naszych usług</p>
    </div>
    <div class="company-number" data-aos="zoom-in" data-aos-delay="200">
      <h2>50</h2>
      <p>Zadowolonych klinetów z naszych usług</p>
    </div>
    <div class="company-number" data-aos="zoom-in" data-aos-delay="400">
      <h2>50</h2>
      <p>Zadowolonych klinetów z naszych usług</p>
    </div>
    <div class="company-number" data-aos="zoom-in" data-aos-delay="600">
      <h2>50</h2>
      <p>Zadowolonych klinetów z naszych usług</p>
    </div>
    <div class="company-number" data-aos="zoom-in" data-aos-delay="800">
      <h2>50</h2>
      <p>Zadowolonych klinetów z naszych usług</p>
    </div>
  </div>
</div>
