.company-content {
  display: flex;

  .company-image {
    height: 500px;
    width: 50%;

    img {
      height: 100%;
      width: 100%;
    }
  }

  .company-description {
    background-color: rgb(206, 217, 226);
    width: 50%;
    height: 500px;
    padding: 40px;
    text-align: center;

    h3 {
      margin-top: 0;
      font-size: 36px;
    }
  }
}

.company-numbers {
  display: flex;
  background-color: rgb(0, 0, 58);
  color: white;
  margin: 30px 0;
  
  .company-number {
   width: 20%;
   text-align: center;
   padding: 20px; 
  }

  h2 {
    font-size: 52px;
    margin: 0;
  }

  p {
    margin-top: 0;
  }
}