<div class="oferts-preview">
  <div class="content">
    <div class="heading" data-aos="zoom-in">
      <h1>W czym mogę ci pomóc ?</h1>
    </div>
    <div class="description" data-aos="zoom-in" data-aos-delay="300">
      <p>Zależy mi na trwałej, pełnej zaufania relacji, oferując starannie
         wyselekcjonowane produkty finansowe. Sprawdź, jak mogę profesjonalnie
         wesprzeć Twoje zindywidualizowane finansowe potrzeby 
      </p>
      <a (click)="navigateToOferts()">Zobacz Oferty</a>
    </div>
  </div>
</div>
