<div class="oferts-preview">
  <div class="content">
    <div class="heading" data-aos="zoom-in">
      <h1>W czym mogę ci pomóc ?</h1>
    </div>
    <div class="description" data-aos="zoom-in" data-aos-delay="300">
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
         Eveniet voluptas impedit aspernatur possimus perferendis rem
         expedita voluptatum at reiciendis repellendus! 
      </p>
      <a (click)="navigateToOferts()">Zobacz Oferty</a>
    </div>
  </div>
</div>
